.home-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 15px;
    gap: 1rem;
    min-height: 100vh;
    margin-top: 100px;
    background-color: blue;
}

.home-container .home-left {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    background-color: black;
}

.home-left > .nav-left {
    position: sticky;
    top: 200px;
    margin-top: 90px;
}

.home-container .home-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
    width: 50%;
    gap: 1rem;
}

.home-container .home-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: black;
    margin-right: 30px;
}