body {
  height: 100%;
  margin: 0;
}

.new-post-container {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    height: auto;
    /* background-color: black; */
    margin-top: 60px;
}

.new-post-container .data-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    min-height: 80vh;
    border-radius: 10px;
    background-color: blue;
    gap: 1rem;
    margin-bottom: 30px;
}

.data-form .form-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    /* background-color: darkred; */
    gap: 1rem;
}

.form-user-info img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: aqua;
    object-fit: contain;
}

.form-user-info span {
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    color: #e48f45;
}

.data-form .post-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 10px;
    background-color: darkmagenta;
    margin-bottom: 50px;
    gap: 1rem;
}

.post-form #message {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 15PX;
    background-color: aliceblue;
    border: 2px solid bisque;
    max-width: 100%;
    min-height: 55px;
    border-radius: 8px;
}

#message::placeholder {
    color: #bda98b;
    font-size: 15px;
}

.post-form .card-container {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    /* background-color: black; */
    gap: 0.5rem;
}

.card-container .card-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: aqua; */
    width: 55%;
    gap: 0.5rem;
}

.card-user img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-left: 5px;
    background-color: #e48f45;
    object-fit: contain;
}

.card-user .name-date-user {
    display: flex;
    flex-direction:column;
    /* background-color: brown; */
}

.name-date-user > * {
    margin: 0;
}

.card-container .content-message {
    display: flex;
    flex-direction: column;
    /* background-color: brown; */
}



.content-message p {
    margin: 10px;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}

.content-message img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.post-form .footer-form {
    display: flex;
    flex-direction: column;
    /* background-color: lime; */
}

.footer-form .footer-icon {
    position: relative;
    display: inline-block;
    /* background-color:darksalmon; */
}

.footer-icon input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.footer-icon .SlPicture {
    position: relative;
    z-index: 1;
    font-size: 25px;
    color: #FF8C00;
    cursor: pointer;
}

.footer-icon .TbCameraCancel {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    font-size: 19px;
    height: 10px;
    cursor: pointer;
    border: none;
    color: #CC3333;
    background: transparent;
}

.footer-form .btn-execut {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* background-color: brown; */
}

.btn-execut button {
    display: flex;
    align-items: center;
    margin-right: 3px;
    border: none;
    background-color: transparent;
}

.btn-execut .btn-cancel {
    color: red;
    border-radius: 50px;
}

.btn-execut .btn-send {
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    transition: 0.3;
    &:hover {
        transform: scale(1.02);
        border: 1px solid salmon;
    }
}
